<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testlib.netease">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="1fe5406367b44a65224e9e2a48e02b80" />
        <!-- android:value="39b5b8380a846355afbe1d31f0b83705" 线下 -->
        <!-- android:value="1fe5406367b44a65224e9e2a48e02b80"  线上 -->
    </application>

</manifest>